<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talita.trabalhoga">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vet_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SchedActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ResetPassActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".HistActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AddpetActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AddeventActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>